.chatContainer {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 10px;
    width: 400px; /* Fixed width for the chat container */
    height: 100%; /* Full height for the chat container */
    background: linear-gradient(145deg, #5580f6, #f7b8b8); /* Soft gradient background */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1), -5px -5px 15px rgba(255, 255, 255, 0.8); /* Enhanced shadow for 3D effect */
}

.messages {
    flex-grow: 1; /* Allow the messages area to grow */
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 400px; /* Limit the height of the messages area */
    margin-bottom: 10px;
    padding: 2px; /* Add padding for better spacing */
    border-radius: 8px; /* Rounded corners */
}

/* Hide scrollbar */
.messages::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
.messages {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.message {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    position: relative; /* For positioning of message */
    font-weight: bold; /* Make text bold */
}

.message strong {
    display: block; /* Display sender info as a block */
    color: #2c3e50; /* Darker color for better visibility */
}

.timestamp {
    font-size: 0.75em; /* Smaller font for timestamp */
    color: #616161; /* Dark gray color for the timestamp */
    margin-left: 5px; /* Spacing from the message */
    position: absolute; /* Position timestamp */
    bottom: 5px; /* Align timestamp at the bottom */
    right: 10px; /* Align to the right */
}

.inputContainer {
    display: flex;
    margin-top: 10px; /* Space between messages and input */
}

.input {
    flex-grow: 1; /* Allow input to grow */
    padding: 10px; /* Padding for input */
    border: 1px solid #ccc; /* Border for input */
    border-radius: 4px; /* Rounded corners */
    margin-right: 5px; /* Spacing between input and button */
    transition: border-color 0.3s; /* Smooth border color transition */
    background-color: #ffffff; /* White background for input */
}

.input:focus {
    border-color: #007bff; /* Change border color on focus */
    outline: none; /* Remove default outline */
}

.sendButton {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding:10px 15px; /* Padding for the button */
    border: none; /* Remove default border */
    border-radius: 4px; /* Rounded corners */
    background-color: #2896ea; /* Button background color */
    color: rgb(253, 249, 249); /* Text color */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth background color transition */
    font-weight: bold; /* Bold text for button */
}

.sendButton:hover {
    background-color: #0056b3; /* Darker background on hover */
}

.sendButton:active {
    background-color: #c1408e; /* Even darker on active */
}
