

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(145deg, #5580f6, #f7b8b8); /* Soft gradient background */

  height: 100%;
  font-family: Arial, sans-serif;
}

.videoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;

}
.header{
  font-size: 2rem;
  color: #c6f7b8;
}
.video {
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
  border-radius: 8px;
  object-fit: cover;
}

.remoteVideo {
  width: 100%;
  height: 300px;
  border: 2px solid #ccc;
  border-radius: 8px;
  object-fit: cover;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  background: linear-gradient(145deg, #3e4541,#95ed96); /* Soft gradient background */

  padding: 10px;
  border-radius: 5px;
}
.signOut{
  margin-left: 10px;
  justify-content: center;
  text-align: center;
}
.button {
  text-align: center;
  justify-content: center;
  background: linear-gradient(145deg, #1a8a7f,#80b2a7); /* Soft gradient background */
display: flex;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.button:hover {
  background-color: #0056b3;
}

.button:active {
  transform: scale(0.9);
}

.redDot {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #ff0000;
  color: rgb(248, 247, 241);
  padding: 10px 10px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  font-family:sans-serif;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.fullscreen video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Responsive design */

@media (max-width: 768px) {
  .video {
    height: 200px;
  }
  .remoteVideo {
    height: 200px;
  }
 
}

@media (max-width: 480px) {
  .video {
    height: 150px;
  }
  .remoteVideo {
    height: 150px;
  }
  .button {
    padding: 5px 10px;
    font-size: 14px;
  }
}
